.btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px;
  width: 120px;
}


.container_filters-buttons {
  text-align: center;
}


.btn-reset, .btn-close {
  display: block;
}

.btn-close {
  margin: 15px auto 25px auto;
}

.btn-reset {
  /* display: inline-block; */
  background-color: rgb(143, 61, 61);
  border: 1px solid rgb(143, 61, 61);
  margin: 15px auto;
}


.btn_filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid antiquewhite;
  border-radius: 50%;
  font-size: 30px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: black;
  
}


