/* GENERAL */

/* COMPONENTS */
@import url(components/feed/cont_img.css);
@import url(components/profile_image/cont_image_card.css);
@import url(components/tags/cont_btn_filt.css);
@import url(components/tags/cont_filters.css);

@import url(buttons.css);


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: black;
  color: rgb(204, 204, 204);
  font-family: sans-serif;
}


.app {
  width: 390px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 5px 0;
}

